{% extends 'base.html.twig' %}

{% block title %}Hello From Home!{% endblock %}

{% block body %}
   <div class="wrapper">
      <div style="background-image:url(https://thumbs.dreamstime.com/b/le-plombier-au-travail-dans-une-salle-de-bains-mettant-d-aplomb-service-des-r%C3%A9parations-se-r%C3%A9unissent-113995223.jpg)"></div>
      <div style="background-image:url(https://frizbizovh.s3.amazonaws.com/system/pictures/photos/000/062/759/large/03c4503d206d72ce52ddee86fc6b8f4a.jpg?1503653389)"></div>
      <div style="background-image:url(https://prod-saint-gobain-fr.content.saint-gobain.io/sites/saint-gobain.fr/files/2020-07/01-tarif-plombier-prix-travaux-plomberie.jpg)"></div>
      <div style="background-image:url()"></div>

      <div style="background-image:url(https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg)"></div>
   </div>

{% endblock %}
