<meta charset="utf-8">
<link rel="stylesheet" href="foot.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

<body>
<footer>
   <div class="footer-container">
     <div class="left-col">
         <img src="l" alt="" class="logo">

     </div>
   </div>
</footer>


</body>